{% extends 'base.html.twig' %}

{% block title %}Liste des films à l'affiche{% endblock %}

{% block body %}

    {% for film in films %}
        <div class="film">
            <p>Id du film : {{ film.id }}</p>
            <p>Titre du film : {{ film.titre }}</p>
            <p>Durée du film :
                {% set heures = (film.duree // 60) %}
                {% set minutes = (film.duree % 60) %}
                {{ heures }}h {{ minutes }}min
            </p>
            <a class='button' href="{{ path('app_films_show', {'id':film.id}) }}">Voir le detail</a>
        </div>
    {% endfor %}


{% endblock %}
