{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h2 class="card-title text-primary">{{ film.titre }}</h2>
                        <h6 class="text-muted">ID du film: {{ film.id }}</h6>

                        <p class="card-text mt-3">
                            <strong class="ms-2">Durée du film:</strong>
                            {% set heures = (film.duree // 60) %}
                            {% set minutes = (film.duree % 60) %}
                            {{ heures }}h {{ minutes }}min
                        </p>

                        <div class="mt-4">
                            <h4 class="text-secondary">Liste des séances :</h4>
                            <ul class="list-group list-group-flush">
                                {% for seance in film.seances %}
                                    <li class="list-group-item list-group-item-action hover-highlight">
                                        {{ seance.dateProjection | format_datetime(pattern='dd/MM/y HH:mm') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}